body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh !important;
    font-family: sans-serif;
    color: #222;
}

/*Clases Reutilizables*/

.btn-rojo{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #fb2056;
    padding: 1rem 2rem;
    border-radius: 20px;
    display: inline-block;

    /*aplica para flexbox*/
    align-self: center;

}

.frase{
    text-align: center;
}


/* Primera sección*/

#primera-seccion {
    background: linear-gradient(rgba(68,13,13,0.35), rgba(38,2,2,0.446)), url(./img/fondos/primera_seccion/fondo-primera.jpg) no-repeat center/cover;
    background-attachment: fixed; /*mantiene la imagen fija al escrollear*/
    height: 100vh;
    color: white;  
}

#barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

#logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
}

nav > a {
    text-decoration: none;
    color: white;
    padding-right: 1rem;
    padding-left: 1rem;
}

nav > a:hover {
    color: #fb2056;
}

#primera-seccion-contenido {
    margin: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#primera-seccion-contenido > p {
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

#primera-seccion-contenido > hr {
    width: 20.5rem;
    border-color: #fb2056;
}

#primera-seccion-contenido > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

/*Segunda Seccion*/

#segunda-seccion {
   background-color: rgb(204, 204, 204);
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

/*Tercera Seccion*/

#tercera-seccion {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#titulo > h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

#titulo > hr {
    width: 4.5rem;
    border-color: #fb2056;
}

#tercera-seccion-contenido {
    text-align: center;
    display: flex;
    flex-direction: row;

}

.img-tercera {
    padding-right: 1rem;
    padding-left: 1rem;
}

.img-tercera > h6 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.img-tercera p {
    margin-bottom: 2rem;
}

.img-tercera img {
    max-width: 100%;
}

/*Cuarta seccion*/

#cuarta-seccion {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(./img/fondos/cuarta_seccion/fondo_cuarta.jpg) no-repeat center/cover;
    background-attachment: fixed; /*mantiene la imagen fija al escrollear*/
    height: 100vh;
    color: white;  
    display: flex;
    flex-direction: column;
}

#cuarta-seccion-contenedor {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.mitad {
    width: 50%;
}

#cuarta-seccion-der h3 {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

#cuarta-seccion-der hr {
    width: 4.5rem;
    border-color: #fb2056;
    margin-left: 0;
    margin-bottom: 3rem;  
}

#cuarta-seccion-der p {
    margin-bottom: 4rem;
}

/*Quinta seccion*/
#quinta-seccion {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#quinta-seccion-izq {
    flex: 1;
}

#quinta-seccion-izq h3 {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

}

#quinta-seccion-izq p {
    margin-bottom: 4rem;
} 

#quinta-seccion-der {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 10px;
    justify-items: center;
    align-items: center;
}
#quinta-seccion-izq hr {
    width: 4.5rem;
    border-color: #fb2056;
    margin-left: 0;
    margin-bottom: 3rem; 
}


#quinta-seccion-der img {
    max-width: 100%;
}

/*Footer*/

footer {
    background-color: black;
    color: blanchedalmond;
    padding-top: 1.2rem;
    padding-bottom: 12.rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*################################################*/
/*################################################*/
/*################################################*/

@media(max-width: 700px){
    #primera-seccion{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #barra-navegacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 0;
    }
    #barra-navegacion p, nav {
        text-align: center;
    }

    #primera-seccion-contenido {
        margin-top: 2.5rem;
    }
    #primera-seccion-contenido h1 {
        font-size: 2.5rem;
    }

    #tercera-seccion {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 90%;
    }
    
    #tercera-seccion-contenido {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .img-tercera {
        margin-bottom: 2rem;

    }

    .img-tercera img{
        max-width: 100%;
    }

    #cuarta-seccion-izq {
        display: none;
    }
    #cuarta-seccion-der {
        width: 100%;
    }

    #quinta-seccion {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #quinta-seccion-der {
        flex: 1;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: 1fr;
        gap: 15px 10px;
        justify-items: center;
        align-items: center;
    }


}